table{
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

td, th {
	border: 1px solid;
  text-align: center;
  }

table th{
  padding: 10px;
  background-color: #CBAF87;
  border: 0px;
}

table td{
  padding: 8px;
}

.row1{
  background-color: #F5F5F5
} 

.row2{
  background-color: white;
}


